
{% block content %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Nearby Gyms</title>
<!-- 引入 CSS 文件 -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<h1>Find Nearby Gyms</h1>
<div id="map" style="height: 500px; width: 150%;"></div>

<!-- 引入 Google Maps API 和 JavaScript 文件 -->
{% if google_maps_api_key %}
<script defer
        src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap&libraries=places"></script>
{% endif %}
<script src="{{ url_for('static', filename='js/script.js') }}" async></script>
{% endblock %}
