{% extends "base.html" %}

{% block content %}
<div class="container m-3">
    <form method="POST" action="" novalidate>
        {{ form.hidden_tag() }}
        <table id="data" class="table table-striped">
            <thead>
            <tr>
                <th>loan_id</th>
                <th>device_id</th>
                <th>borrowdatetime</th>
                <th>returndatetime</th>
                <th>student_id</th>
                <th>damage</th>
            </tr>
            </thead>
            <tbody>
            {% for loan in loans %}
            <tr>
                <td>{{ loan.loan_id }}</td>
                <td>{{ loan.device_id}}</td>
                <td>{{ loan.borrowdatetime }}</td>
                <td>{{ loan.returndatetime }}</td>
                <td>{{ loan.student_id }}</td>
                <td>{{ loan.damage }}</td>
                <td>
<!--                    要確認這個學生在不在，就要抓 student_id 當作 value-->
                    <button type="submit" name="damageActive" value="{{ loan.device_id }}">
                        Damage
                    </button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
</div>
{% endblock %}
