{% extends "base.html" %}

{% block content %}
<style>
    .form-container {
        margin-left: 600px; /* 向右側移動 */
        padding: 20px;
        background-color: #f8f9fa; /* 輕灰色背景 */
        border-radius: 8px; /* 圓角邊框 */
        box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* 輕微陰影 */
        max-width: 600px; /* 最大寬度 */
    }
    .form-input, .form-submit, .btn-danger {
        margin: 10px 0; /* 上下邊距 */
        padding: 8px; /* 內邊距 */
        width: 95%; /* 寬度 */
        box-sizing: border-box; /* 盒模型設定 */
    }
    ul {
        padding-left: 20px; /* 列表向右偏移 */
    }
    li {
        margin-bottom: 10px; /* 列表項目間隔 */
    }
    .btn-danger {
        background-color: #dc3545; /* 按鈕顏色 */
        color: white; /* 文字顏色 */
        border: none; /* 移除邊框 */
        cursor: pointer; /* 滑鼠指標 */
    }
    .btn-danger:hover {
        background-color: #c82333; /* 滑鼠懸停時的顏色變化 */
    }
</style>

<div class="form-container">
    <form method="POST" action="/Choose">
        <input type="text" name="barcode" placeholder="Enter Barcode，EX：3017620422003" class="form-input">
        <input type="submit" value="Search" class="form-submit">
        {% if products %}
        <ul>
            {% for product in products %}
            <li>{{ product['product_name'] }} - carbohydrates：{{ product['carbohydrates'] }}g, fat：{{ product['fat'] }}g,
                protein：{{ product['protein'] }}g
                <input type="hidden" name="product_name_{{ loop.index }}" value="{{ product['product_name'] }}">
                <input type="hidden" name="carbohydrates_{{ loop.index }}" value="{{ product['carbohydrates'] }}">
                <input type="hidden" name="fat_{{ loop.index }}" value="{{ product['fat'] }}">
                <input type="hidden" name="protein_{{ loop.index }}" value="{{ product['protein'] }}">
                <button type="submit" name="Choose" value="{{ loop.index }}" class="btn btn-danger"
                        onclick="return confirm('Are You sure？')">Choose
                </button>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No related product information was found.</p>
        {% endif %}
    </form>
</div>

{% endblock %}
