{% extends "base.html" %}
{% block content %}

<form method="post" action="" novalidate enctype="multipart/form-data">
    <!-- enctype="multipart/form-data : 表單數據被如何編碼（即以什麼格式發送）到服務器上的一個屬性。-->
    <!-- novalidate : 表單將無條件被提交到服務器，即使用戶的輸入不符合要求。-->
    {{form.hidden_tag()}}
    <div class="my-4">
        {{ form.user_file.label }}<br/>{{ form.user_file() }}<br/>
        {% for error in form.user_file.errors %}
        <div style="color: red;">[{{ error }}]</div>
        {% endfor %}
    </div>
    <div>{{ form.submit() }}</div>

</form>
{% endblock %}
