{% extends "base.html" %}

{% block content %}
<h1>Your Account!</h1>
<form method="POST" action="" novalidate enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div>
        {{ form.password.label }}<br/>{{ form.password(size=30) }}<br/>
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.confirmpassword.label }}<br/>{{ form.confirmpassword(size=30)}}<br/>
        {% for error in form.confirmpassword.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>


    <br/>
        <div>{{ form.submit() }}</div>

</form>


{% endblock %}
