{% extends "base.html" %}

{% block content %}
<div class="container m-3">
    <form method="POST" action="" novalidate>
        {{ form.hidden_tag() }}
        <table id="data" class="table table-striped">
            <thead>
            <tr>
                <th>user_id</th>
                <th>username</th>
                <th>email</th>
                <th>password_hash</th>
            </tr>
            </thead>
            <tbody>
            {% for user in user_all %}
            <tr>
                <td>{{ user.user_id }}</td>
                <td>{{ user.username}}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password_hash }}</td>
                <td>{{ user.active }}</td>
                <td>
                    <button type="submit" name="userActive" value="{{ user.user_id }}">
                        User Active
                    </button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
</div>
{% endblock %}
